@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/*the whole pages style  */
body {
  font-family: 'Indie Flower', cursive;
  color: black;
  overflow-x: hidden;
}